/* main page */

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

nav{
    display: flex;
    padding: 16px 160px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.search{
    display: flex;
    width: 372px;
    height: 10px;
    padding: 16px;
    align-items: center;
    gap: 8px;
    border-radius: var(--radius-8, 8px);
    background: #F5F5F5;
    background-image: url('./images/search.png');
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px; /* Adjust this to position the text after the icon */
}

nav ul{
    display: flex;
    align-items: flex-start;
    gap: 52px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    color: var(--Main-Black, var(--color-black-solid, #000));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gr{
    opacity: 0.3;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.body1{
    display: flex;
    padding: 0px 160px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    background: linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
}

.cont-body1{
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
}

.p{
    color: var(--color-white-solid, #F5F5F5);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    opacity: 0.4;
}

.ifon{
    color: var(--color-white-solid, #FFF);
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    letter-spacing: -0.96px;
}

.pro{
    font-weight: 600;
}

.cont-body1 h6{
    align-self: stretch;
    color: #909090;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.shop{
    display: flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: linear-gradient(91deg, #211C24 0.64%, #211C24 101%);
    color: white;
    border-radius: 6px;
    border: 1px solid var(--Main-White, #FFF);
}

.img-body1{
    width: 406px;
    height: 632px;
    flex-shrink: 0;
}

.body2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.left{
    display: grid;
    grid-template-rows: max-content;
}
.playstation{
    display: flex;
}
.txt-play{
    display: flex;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
}
.head{
    color: var(--color-black-solid, #000);
    font-family: Inter;
    font-style: normal;
    font-size: 49px;
    font-weight: 600;
    line-height: 40px; /* 81.633% */
    margin-bottom: 5px;
}
.pa{
    color: #909090;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: 24px; /* 171.429% */
}
.squares{
    display: grid;
    grid-template-columns: 50% 50%;
}
.airpod{
    display: flex;
    padding: 0px 48px 0px 0px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    background: #EDEDED;
}
.txt-pods{
    display: flex;
    width: 160px;
    height: 143px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 30px;
}
.txt-pods p{
    color: #909090;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    padding-left: 25px;
}
.visionpro{
    background: #353535;
    display: flex;
    column-gap: 20px;
    padding: 0px 48px 0px 0px;
    align-items: center;
    align-self: stretch;
}
.vision-img{
    position: relative;
    top: 20px;
}
.txt-vision{
    color: #909090;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
}

.right{
    display: flex;
    height: 600px;
    padding: 44px 0px 44px 56px;
    align-items: center;
    gap: 1px;
    flex: 1 0 0;
    background: #EDEDED;
}
.img{
    position: relative;
    left: 30px;
}
.txt-mac{
    display: flex;
    max-width: 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.txt-mac p{
    color: #909090;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.mac{
    border: 1px solid black;
    background: #EDEDED;
    color: black;
}
.screen{
    border-radius: 15px;
    border-top: 5px solid black;
    border-bottom: 15px solid black;
    border-left: 5px solid black;
    position: relative;
    left: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.st{
    padding-top: 0px;
    margin-top: 0px;
}
.stand{
    position: relative;
    bottom: 5px;
    left: 20px;
}
.foot{
    position: relative;
    bottom: 20px;
    left: 40px;
}


.browse{
    display: flex;
    padding: 80px 160px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    background: #FAFAFA;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.top h4{
    color: var(--Main-Black, var(--color-black-solid, #000));
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0.24px;
}
.arr{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.arr img{
    width: 32px;
    height: 32px;
}
.category{
    display: flex;
    align-items: flex-start;
    gap: 43px;
    align-self: stretch;
}

.products{
    display: flex;
    padding: 56px 160px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}
.tags{
    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}
.b{
    color: var(--Main-Black, var(--color-black-solid, #000));
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 177.778% */
    text-decoration: underline;
}
.g{
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: #8B8B8B;
}
.productcards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.row{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}
.item{
    display: flex;
    min-width: 200px;
    padding: 24px 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
    color: black;
    border-radius: 9px;
    background: #F6F6F6;
}
.full{
    border: none;
    background: none;
}
.like-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}
.text{
    color: var(--Main-Black, var(--color-black-solid, #000));
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}
.price{
    color: var(--Main-Black, var(--color-black-solid, #000));
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.72px;
    margin-bottom: 0px;
}
.buynow{
    display: flex;
    padding: 12px 64px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: var(--Main-White, var(--color-white-solid, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    border-radius: var(--radius-8, 8px);
    background: var(--color-black-solid, #000);
}


.banner{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
}
.ban{
    display: flex;
    min-width: 280px;
    padding: 0px 32px 56px 32px;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
}
.i{
    width: 360.062px;
    height: 327px;
}
.img1{
    padding-top: 20px;
    width: 320.477px;
    height: 320.812px;
    transform: rotate(29.897deg);
}
.img2{
    width: 200.131px;
    height: 220.309px;
    flex-shrink: 0;
    position: relative;
    bottom: 220px;
    left: 100px;
}
.ban-cont{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.ban-head{
    padding-top: 20px;
    color: var(--color-black-solid, #000);
    font-family: Inter;
    font-size: 33px;
    font-style: normal;
    font-weight: 300;
}
.ban-txt{
    color: #909090;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0;
    padding-top: 0;
}
.now{
    display: flex;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid var(--Main-Black, #000);
    color: var(--Main-Black, var(--color-black-solid, #000));
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.ban2{
    background: #F9F9F9;
}
.ban3{
    background: #EAEAEA;
}
.ban4{
    background: #2C2C2C;
}
.bl{
    border-color: #FAFAFA;
    color: #FAFAFA;
}


.dis-head{
    color: var(--color-black-solid, #000);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding-bottom: 0;
    line-height: 0px;
}

.banner2{
    width: 100vw;
    margin: 0;
    padding: 0;
}
.banner2 img{
    width: 1754px;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


.footer{
    margin-top: 0;
    display: flex;
    flex-direction: row;
    gap: 200px;
    align-self: stretch;
    background: var(--color-black-solid, #000);
}
.footer img{
    padding-top: 10px;
    color: #FAFAFA;
}
.first{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 300px;
}
.first p{
    letter-spacing: 1px;
    padding-top: 20px;
    color: #CFCFCF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.5%;
}
.section{
    display: flex;
    flex-direction: row;
    width: 623px;
    justify-content: space-between;
}
.second{
    display: flex;
    width: 295.5px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    color: #CFCFCF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 228.571% */
}
.second p{
    color: var(--Main-White, var(--color-white-solid, #FFF));
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}
.second ul li{
    position: relative;
    right: 32px;
    list-style-type: none;
}

.last{
    padding: 104px 160px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}
.social{
    display: flex;
    width: 173px;
    justify-content: space-between;
    align-items: flex-start;
}